.idea
coverage.out
fenix.exe
vendor/
# db-data contains actual database files
*/db-data/

# migrations
/app/migrations*

app.zip
*/dist/*

v1/
v2/

tmp/

.env
filter.sh

authApp
brokerApp
frontApp.exe
loggerApp
frontEndApp

Caddyfile
Caddyfile.production

caddy.dockerfile
caddy.production.dockerfile

docker-compose.yml
k8s/

postgres.yml
swarm.production.yml
swarm.yml